# This file maps all commits to a single author
# Format: Proper Name <proper@email> <commit@email>

Anshul Saxena <anshulsaxena9c6stc@gmail.com>
Anshul Saxena <anshulsaxena9c6stc@gmail.com> <anshulsaxena@example.com>
